.app-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.card {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.counter {
  font-size: 2rem;
}

.buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  height: 38px;
  justify-content: center;
  width: 38px;
}

.button:hover {
  cursor: pointer;
}

.add-button {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.substract-button {
  background-color: #dc3545;
  border-color: #dc3545;
}
